In [1]:
import pandas as pd

Trabalhando com Datas

In [2]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/datasets/Salvador.xlsx")

In [4]:
#juntando todos os arquivos
df = pd.concat([df1, df2, df3, df4, df5])

In [6]:
#Transformando a coluna de data em tipo de inteiro
df["Data"] = df["Data"].astype("int64")

In [7]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade     object
Data        int64
Vendas    float64
LojaID    float64
Qtde      float64
dtype: object

In [9]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [10]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID           float64
Qtde             float64
dtype: object

In [14]:
#Criando coluna de receita(Vendas * Qtde)
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [16]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    117711.45
2019    227213.13
Name: Receita, dtype: float64

In [17]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [18]:
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde  Receita  Ano_Venda
36       Natal 2019-02-09  328.00   853.0   2.0   656.00       2019
0    Fortaleza 2019-01-01   45.27  1002.0   2.0    90.54       2019
203      Natal 2019-01-02   37.75  1035.0   2.0    75.50       2019
53   Fortaleza 2019-01-01   11.48  1002.0   4.0    45.92       2019
20      Recife 2019-01-01   42.35   982.0   3.0   127.05       2019

In [22]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [29]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,dia_venda,mes_venda
116,Fortaleza,2019-03-02,79.10,982.0,2.0,158.20,2019,2,3
18,Salvador,2019-01-01,242.31,1035.0,1.0,242.31,2019,1,1
3,Aracaju,2018-01-01,3.01,1521.0,7.0,21.07,2018,1,1
31,Fortaleza,2019-01-01,23.46,1002.0,4.0,93.84,2019,1,1
137,Salvador,2019-03-02,51.66,1036.0,3.0,154.98,2019,2,3

In [30]:
#Retornando a data mais antiga
df['Data'].min()

Timestamp('2018-01-01 00:00:00')

In [31]:
#Calculando a diferença de dias
df['diferença_dias'] = df['Data'] - df['Data'].min()

In [32]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,dia_venda,mes_venda,diferença_dias
89,Recife,2019-01-01,18.11,980.0,3.0,54.33,2019,1,1,365 days
55,Recife,2019-01-01,20.03,983.0,4.0,80.12,2019,1,1,365 days
21,Salvador,2019-01-01,39.72,1035.0,3.0,119.16,2019,1,1,365 days
103,Natal,2019-01-02,191.60,1034.0,1.0,191.60,2019,2,1,366 days
237,Natal,2019-01-03,38.06,1036.0,3.0,114.18,2019,3,1,367 days

In [33]:
#Criando a coluna de trimestre
df['trimestre_venda'] = df['Data'].dt.quarter

In [35]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,dia_venda,mes_venda,diferença_dias,trimestre_venda
166,Natal,2019-01-02,111.72,1035.0,3.0,335.16,2019,2,1,366 days,1
70,Aracaju,2018-01-01,8.44,1523.0,9.0,75.96,2018,1,1,0 days,1
76,Natal,2019-02-20,364.00,853.0,2.0,728.00,2019,20,2,415 days,1
183,Salvador,2019-01-02,120.23,1037.0,2.0,240.46,2019,2,1,366 days,1
134,Fortaleza,2019-03-02,195.18,980.0,5.0,975.90,2019,2,3,425 days,1

In [36]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [42]:
vendas_marco_19

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,dia_venda,mes_venda,diferença_dias,trimestre_venda
108,Fortaleza,2019-03-02,152.89,981.0,4.0,611.56,2019,2,3,425 days,1
109,Fortaleza,2019-03-02,18.90,982.0,6.0,113.40,2019,2,3,425 days,1
110,Fortaleza,2019-03-02,51.98,983.0,6.0,311.88,2019,2,3,425 days,1
111,Fortaleza,2019-03-02,8.00,981.0,3.0,24.00,2019,2,3,425 days,1
112,Fortaleza,2019-03-02,133.59,982.0,1.0,133.59,2019,2,3,425 days,1
...,...,...,...,...,...,...,...,...,...,...,...
137,Salvador,2019-03-02,51.66,1036.0,3.0,154.98,2019,2,3,425 days,1
138,Salvador,2019-03-02,212.03,1037.0,3.0,636.09,2019,2,3,425 days,1
139,Salvador,2019-03-02,169.01,1036.0,1.0,169.01,2019,2,3,425 days,1
140,Salvador,2019-03-02,20.79,1036.0,2.0,41.58,2019,2,3,425 days,1
141,Salvador,2019-03-02,9.08,1036.0,1.0,9.08,2019,2,3,425 days,1

In [43]:
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Ano_Venda,dia_venda,mes_venda,diferença_dias,trimestre_venda
112,Recife,2019-03-02,133.59,982.0,1.0,133.59,2019,2,3,425 days,1
115,Recife,2019-03-02,12.23,981.0,3.0,36.69,2019,2,3,425 days,1
123,Fortaleza,2019-03-02,20.22,981.0,6.0,121.32,2019,2,3,425 days,1
131,Salvador,2019-03-02,63.48,1037.0,3.0,190.44,2019,2,3,425 days,1
109,Recife,2019-03-02,18.90,982.0,6.0,113.40,2019,2,3,425 days,1
119,Fortaleza,2019-03-02,152.30,982.0,7.0,1066.10,2019,2,3,425 days,1
121,Fortaleza,2019-03-02,41.55,981.0,3.0,124.65,2019,2,3,425 days,1
120,Salvador,2019-03-02,140.17,1036.0,2.0,280.34,2019,2,3,425 days,1
124,Fortaleza,2019-03-02,47.98,983.0,7.0,335.86,2019,2,3,425 days,1
140,Salvador,2019-03-02,20.79,1036.0,2.0,41.58,2019,2,3,425 days,1
125,Fortaleza,2019-03-02,37.60,983.0,4.0,150.40,2019,2,3,425 days,1
137,Salvador,2019-03-02,51.66,1036.0,3.0,154.98,2019,2,3,425 days,1
116,Fortaleza,2019-03-02,79.10,982.0,2.0,158.20,2019,2,3,425 days,1
71,Natal,2019-03-20,840.00,854.0,3.0,2520.00,2019,20,3,443 days,1
82,Natal,2019-03-07,868.00,854.0,3.0,2604.00,2019,7,3,430 days,1
128,Fortaleza,2019-03-02,38.70,982.0,4.0,154.80,2019,2,3,425 days,1
29,Natal,2019-03-09,646.00,854.0,2.0,1292.00,2019,9,3,432 days,1
141,Salvador,2019-03-02,9.08,1036.0,1.0,9.08,2019,2,3,425 days,1
134,Salvador,2019-03-02,125.90,1036.0,1.0,125.90,2019,2,3,425 days,1
18,Natal,2019-03-14,581.00,853.0,3.0,1743.00,2019,14,3,437 days,1